@import "../../assets/sass/colors";
@import "../../assets/sass/generalMixins";
.Shortener {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 4rem 0 4rem;
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 3rem 0 3rem;
    width: 100%;
    height: 9rem;
    border-radius: 10px;
    background-image: url("../../assets/images/bg-shorten-desktop.svg");
    background-size: cover;
    background-position: center;
    background-color: $darkViolet;
  }
  &__input {
    display: flex;
    width: 80%;
    height: 3rem;
    padding-left: 1.5rem;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: border 0.2s ease;
    font-size: 18px;
    &:focus {
      outline: none;
      border: 2px solid $red;
    }
    &::placeholder {
      color: $red;
      opacity: 0.5;
    }
  }
  &__button {
    width: fit-content;
    @include btnPrymary;
    padding: 1rem 2rem 1rem 2rem;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__linkDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 2rem 0 2rem;
  }
  &__originalLink {
    width: 60%;
    padding: 1rem 0 1rem 0;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      overflow: visible;
    }
  }
  &__shortenedLinkDisplay {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__shortenedLink {
    padding: 1rem 0 1rem 0;
    color: $cyan;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      overflow: visible;
    }
  }
  &__copyButton {
    @include btnPrymary;
    height: 2rem;
    min-width: 6rem;
    &:hover {
      background-color: $darkViolet;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Shortener {
    padding: 1rem;
    &__form {
      flex-direction: column;
      padding: 0 1rem 0 1rem;
    }
    &__input,
    &__button {
      width: 100%;
    }
    &__linkDisplay {
      padding: 1rem;
      border-radius: 5px;
    }
    &__linkDisplay,
    &__shortenedLinkDisplay {
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }
  }
}
