@import "../../assets/sass/colors";
@import "../../assets/sass/generalMixins";
.Hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem 0 4rem;
  background-color: #ffffff;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 5rem);
  }
  &__presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    gap: 2rem;
  }
  &__button {
    @include btnPrymary;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 30px;
  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
  }
  &__description {
    font-size: 18px;
    color: $gray;
  }
  &__img {
    width: 600px;
    height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .Hero {
    padding: 1rem;
    overflow-x: hidden;
    &__container {
      flex-direction: column-reverse;
      min-height: 100vh;
      justify-content: space-evenly;
    }
    &__img {
      max-height: 40%;
      aspect-ratio: 1 / 0.83;
      width: auto;
      align-self: flex-start;
    }
    &__presentation {
      max-width: 100%;
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    &__description {
      font-size: 12px;
      color: $gray;
    }
  }
}
