@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import "./assets/sass/colors";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
